apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching-service
spec:
  selector:
    matchLabels:
      app: matching-service
  template:
    metadata:
      labels:
        app: matching-service
    spec:
      containers:
      - name: matching-service
        image: 221693237976.dkr.ecr.eu-north-1.amazonaws.com/rideshare/rideshare-services:matching-service
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3004
        envFrom:
        - secretRef:
            name: matching-aws-secret
