apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service
spec:
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      containers:
      - name: email-service
        image: 221693237976.dkr.ecr.eu-north-1.amazonaws.com/rideshare/rideshare-services:email-service
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3002
        envFrom:
        - secretRef:
            name: email-aws-secret
