apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
spec:
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
      - name: trip-service
        image: 221693237976.dkr.ecr.eu-north-1.amazonaws.com/rideshare/rideshare-services:trip-service
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
        ports:
        - containerPort: 3005
        envFrom:
        - secretRef:
            name: trip-aws-secret